*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(plankor.jpg);
}

#Spelare{
  text-align: center;
  margin-top: 2%;
  color: yellow;
}

#Rutnat{
  height: 80%;
  width: 80%;
  margin: 2% 10% 1% 10%;
  border: solid 3px green;
  /*filter: blur(3px);*//*Lägg till när bakgrundsfärg fungerar*/
}

.Rad{
  height: 12vh;
  width: 99.1%;
}

.Ruta{
  height: 10vh;
  width: 10%;
  float: none;
  border: solid 3px green;
  filter: none;
  text-align: center;
}

.gulruta{
  background-color: yellow;
}

.blaruta{
  background-color: blue;
}

#knappar{
  margin-left: 10.1%;
}

.fyllruta{
  height: 8vh;
  width: 12%;
  margin-left: 0.4%;
  float: none;
}
